################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Get_DGSWFood-Info/v16/.suo
/.vs/ProjectSettings.json
